################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FunWithGUI/v16/Server/sqlite3/**
/FunWithGUI/obj/Debug/**
